*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradlew.bat
gradlew
gradle.properties
.idea/
drawableviewlibs/proguard-rules.pro
drawableviewlibs/consumer-rules.pro
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
